:root {
    --primary-color: #0077e8;
    --you-chan: #66c0ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.you-chan_image {
    height: 75vh;
    background-image: url("/src/images/You-chan_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--primary-color);
}

.navbar .you-chan_logo .logo img {
    width: 65px;
}

.navbar .navbar_item li {
    display: inline-block;
    list-style: none;
    padding: 0 5px;
}

.navbar .navbar_item li .you-chan_home, .you-chan_photo, .you-chan_clothes {
    color: black;
    padding: 20px;
    font-family: "Berlin Sans FB", monospace ;
    transition: 0.5s;
}

.navbar .navbar_item li .you-chan_home:hover, .you-chan_photo:hover, .you-chan_clothes:hover {
    background-color: #0066bf;
    color: var(--you-chan);
    transition: 0.5s;
}

.menu_bar {
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
    display: none;
}

.menu_bar:hover {
    border: none;
    background-color: #015bae;
    transition: 0.5s;
}

.menu_bar .menu {
    color: snow;
}

.you-chan_title {
    text-align: center;
    color: var(--you-chan);
    margin-top: 35px;
}

.about {
    margin-top: 50px;
}

.about p {
    font-size: 18px;
    font-family: "Baskerville Old Face", cursive;
    margin-left: 30px;
    margin-right: 30px;
}

.statistics {
    text-align: center;
    padding: 20px;
}

.you-chan_static {
    margin-left: 30px;
    margin-right: 30px;
}

.you-chan_static .statistics_line {
    margin: 25px 30px 20px;
}

.you-chan_static p {
    font-size: 20px;
    font-family: "Times New Roman", cursive;
}

.you-chan_static .school_name, .school_years, .birthday, .astrological_sign, .blood_type, .height, .measurements, .signature,
.skills, .hobbies, .like_food, .dislike_food {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.you-chan_static .measurements .measurements_text p {
    margin: 10px;
}

.description .idol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

@media (max-width: 800px) {
    .menu_bar {
        display: inline-block;
        text-align: right;
        margin-left: 20px;
    }
}